In [1]:
#Импортируем необходимые библиотеки
from scipy import stats
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import warnings
#Новые библиотеки с выделенными функциями
import mv_tools as mvt
import solver
warnings.filterwarnings('ignore')

Набор данных взят из следующего источника:
https://www.kaggle.com/datasets/uciml/pima-indians-diabetes-database?resource=download

In [2]:
pima = pd.read_csv("Datasets/pima-indians-diabetes.data.csv", header=None)

In [3]:
pima

      0    1   2   3    4     5      6   7  8
0     6  148  72  35    0  33.6  0.627  50  1
1     1   85  66  29    0  26.6  0.351  31  0
2     8  183  64   0    0  23.3  0.672  32  1
3     1   89  66  23   94  28.1  0.167  21  0
4     0  137  40  35  168  43.1  2.288  33  1
..   ..  ...  ..  ..  ...   ...    ...  .. ..
763  10  101  76  48  180  32.9  0.171  63  0
764   2  122  70  27    0  36.8  0.340  27  0
765   5  121  72  23  112  26.2  0.245  30  0
766   1  126  60   0    0  30.1  0.349  47  1
767   1   93  70  31    0  30.4  0.315  23  0

[768 rows x 9 columns]

Набор данных The Pima Indians Diabetes Dataset посвящен прогнозированию развития диабета у индейцев Пима в течение 5 лет с учетом медицинских данных.

Это задача бинарной классификации. Число наблюдения для классов не сбалансировано. Имеется 768 наблюдений, 8 признаков, одна целевая переменная.

* Число беременностей.

* Концентрация глюкозы в крови.
    
* Артериальное давление.

* Толщина кожной складки трицепса.

* Инсулин.

* Индекс массы тела.

* Функция родословной.

* Возраст (в годах).

In [4]:
pima.describe()

,0,1,2,3,4,5,6,7,8
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [5]:
pima[[1,2,3,4,5]] =  pima[[1,2,3,4,5]].replace(0, np.NaN)

In [6]:
pima

      0      1     2     3      4     5      6   7  8
0     6  148.0  72.0  35.0    NaN  33.6  0.627  50  1
1     1   85.0  66.0  29.0    NaN  26.6  0.351  31  0
2     8  183.0  64.0   NaN    NaN  23.3  0.672  32  1
3     1   89.0  66.0  23.0   94.0  28.1  0.167  21  0
4     0  137.0  40.0  35.0  168.0  43.1  2.288  33  1
..   ..    ...   ...   ...    ...   ...    ...  .. ..
763  10  101.0  76.0  48.0  180.0  32.9  0.171  63  0
764   2  122.0  70.0  27.0    NaN  36.8  0.340  27  0
765   5  121.0  72.0  23.0  112.0  26.2  0.245  30  0
766   1  126.0  60.0   NaN    NaN  30.1  0.349  47  1
767   1   93.0  70.0  31.0    NaN  30.4  0.315  23  0

[768 rows x 9 columns]

In [7]:
labels = pima[8]

In [8]:
pima.columns = ['Number of times pregnant',
'Plasma glucose concentration',
'Diastolic blood pressure',
'Triceps skinfold thickness',
'2-Hour serum insulin',
'Body mass index',
'Diabetes pedigree function',
'Age',
'Class variable (0 or 1)']

In [9]:
F1=pima.drop(columns=['Class variable (0 or 1)'])

# Корреляция

In [10]:
F1.corr().round(2)

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure,Triceps skinfold thickness,2-Hour serum insulin,Body mass index,Diabetes pedigree function,Age
Number of times pregnant,1.00,0.13,0.21,0.10,0.08,0.02,-0.03,0.54
Plasma glucose concentration,0.13,1.00,0.22,0.23,0.58,0.23,0.14,0.27
Diastolic blood pressure,0.21,0.22,1.00,0.23,0.10,0.29,-0.00,0.33
Triceps skinfold thickness,0.10,0.23,0.23,1.00,0.18,0.65,0.12,0.17
2-Hour serum insulin,0.08,0.58,0.10,0.18,1.00,0.23,0.13,0.22
Body mass index,0.02,0.23,0.29,0.65,0.23,1.00,0.16,0.03
Diabetes pedigree function,-0.03,0.14,-0.00,0.12,0.13,0.16,1.00,0.03
Age,0.54,0.27,0.33,0.17,0.22,0.03,0.03,1.00

# Проверка наличия дизбаланса классов

In [11]:
sum(labels==0)

500

In [12]:
sum(labels==1)

268

In [13]:
pima1 = F1.values

In [14]:
pima1

array([[  6.   , 148.   ,  72.   , ...,  33.6  ,   0.627,  50.   ],
       [  1.   ,  85.   ,  66.   , ...,  26.6  ,   0.351,  31.   ],
       [  8.   , 183.   ,  64.   , ...,  23.3  ,   0.672,  32.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,  26.2  ,   0.245,  30.   ],
       [  1.   , 126.   ,  60.   , ...,  30.1  ,   0.349,  47.   ],
       [  1.   ,  93.   ,  70.   , ...,  30.4  ,   0.315,  23.   ]])

In [15]:
Full_Data = {}
Full_Data['mean_fill'] = mvt.mean_fill(pima1)
Full_Data['stoch_lr_fill'] = mvt.lr_fill(pima1, noise=True)
Full_Data['em_fill'] = mvt.EM(pima1)
Full_Data['bootstrap_fill'] = mvt.bootstrap_fill(pima1)
#Full_Data['KNN_fill'] = mvt.knn_fill(pima1)
Full_Data['KNN_fill2'] = mvt.knn_fill(pima1, weights='distance')
Full_Data['iterative_fill_LR'] = mvt.iterative_fill(pima1, 'LR')
Full_Data['iterative_fill_RF'] = mvt.iterative_fill(pima1, 'RF')

In [16]:
res = solver.estimates(Full_Data, labels).reshape(-1, 1)

In [17]:
df_index = ['Заполнение средним', 'Стохастическое заполнение линейной регрессией', 'EM-алгоритм', 'Бутстрап', 'Метод ближайших соседей', 'Итеративное заполнение, линейная регрессия', 'Итеративное заполнение, случайный лес', 'LightGBM','Catboost']

In [18]:
overall_results = pd.DataFrame(res, columns=['F1-мера'], index=df_index)

In [19]:
overall_results.sort_values('F1-мера',axis=0, ascending=False).round(decimals=3)

                                               F1-мера
EM-алгоритм                                      0.686
Catboost                                         0.683
Итеративное заполнение, линейная регрессия       0.676
Стохастическое заполнение линейной регрессией    0.669
Итеративное заполнение, случайный лес            0.658
LightGBM                                         0.658
Бутстрап                                         0.657
Заполнение средним                               0.656
Метод ближайших соседей                          0.648